In [5]:
#dependencies setup
import pandas as pd
#Loading files
school_data_to_load= "C:/Users/balth/OneDrive/Desktop/Pandas/Pandas-challenge/PyCitySchools/Resources/schools_complete.csv"
student_data_to_load= "C:/Users/balth/OneDrive/Desktop/Pandas/Pandas-challenge/PyCitySchools/Resources/students_complete.csv"
#read files
school_data= pd.read_csv(school_data_to_load)
student_data=pd.read_csv(student_data_to_load)
# merge files in student name
school_data_complete= pd.merge(school_data,student_data,how="left",on=["school_name", "school_name"])
school_data_complete

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [ ]:
#Calculate number of school
Total_schools= len(school_data_complete["school_name"].unique())
Total_schools

In [ ]:
#Calculate number of students
Total_students= len(school_data_complete["student ID"].unique())
Total_students

In [ ]:
#Calculate total budget
Total_budget=school_date["budget"].sum()
Total_budget

In [ ]:
#Calculate average math score
avg_math_score=school_data_complete["math_score"].average()
avg_math_score

In [ ]:
#Calculate average read score
avg_read_score=school_data_complete["reading_score"].average()
avg_read_score

In [ ]:
#calculate % of students passing math
students_pass_math=school_data_complete["math_score"]>70
number_students_pass_math= students_pass_math["student_name"].count()
percent_students_pass_math= (number_students_pass_math/Total_students)*100
percent_students_pass_math

In [ ]:
#calculate % of students passing reading
students_pass_reading=school_data_complete["reading_score"]>70
number_students_pass_reading=students_pass_reading["student_name"].count()
percent_students_pass_reading=(number_students_pass_reading/Total_students)*100

In [ ]:
#percentage overall passing
Ovarall_passing_percent= (percent_students_pass_math + percent_students_pass_reading)/2