In [1]:
#dependencies setup
import pandas as pd
#Loading files
school_data_to_load= "C:/Users/balth/OneDrive/Desktop/Pandas/Pandas-challenge/PyCitySchools/Resources/schools_complete.csv"
student_data_to_load= "C:/Users/balth/OneDrive/Desktop/Pandas/Pandas-challenge/PyCitySchools/Resources/students_complete.csv"
#read files
school_data= pd.read_csv(school_data_to_load)
student_data=pd.read_csv(student_data_to_load)
# merge files in student name
school_data_complete= pd.merge(student_data,school_data,how="left",on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
#Calculate number of school
unique_school_name=school_data_complete['school_name'].unique()
Total_schools= len(unique_school_name)
Total_schools

15

In [3]:
#Calculate number of students
Total_students= len(school_data_complete['Student ID'].unique())
Total_students

39170

In [4]:
#Calculate total budget
Total_budget=school_data["budget"].sum()
Total_budget

24649428

In [5]:
#Calculate average math score
avg_math_score=school_data_complete["math_score"].mean()
avg_math_score

78.98537145774827

In [6]:
#Calculate average read score
avg_read_score=school_data_complete["reading_score"].mean()
avg_read_score

81.87784018381414

In [7]:
#calculate % of students passing math
students_pass_math=school_data_complete[(school_data_complete["math_score"]>=70)].count()["math_score"]
percent_students_pass_math= (students_pass_math/Total_students)*100
percent_students_pass_math

74.9808526933878

In [8]:
#calculate % of students passing reading
students_pass_reading=school_data_complete[(school_data_complete["reading_score"]>=70)].count()["reading_score"]
percent_students_pass_reading=(students_pass_reading/Total_students)*100
percent_students_pass_reading

85.80546336482001

In [9]:
#percentage overall passing
Overall_pass_percent= school_data_complete[(school_data_complete["math_score"]>=70)&(school_data_complete["reading_score"]>=70)].count()["student_name"]/Total_students*100
Overall_pass_percent

65.17232575950983

In [10]:
#data frame for school results
summary_district=pd.DataFrame([{"Total Schools":Total_schools,"Total Students":Total_students,"Total Budget":Total_budget,"Average Math Score":avg_math_score,"Average Reading Score":avg_read_score,"% Passing Math":percent_students_pass_math,"% Passing Reading":percent_students_pass_reading,"Overal Passing":Overall_pass_percent}])
summary_district
#formatting
summary_district.index.name=None
summary_district["Total Students"]=summary_district["Total Students"].map("{:,}".format)
summary_district["Total Budget"]=summary_district["Total Budget"].map("${:,.2f}".format)
summary_district["Average Math Score"]=summary_district["Average Math Score"].map("{:.2f}".format)
summary_district["Average Reading Score"]=summary_district["Average Reading Score"].map("{:.2f}".format)
summary_district["% Passing Math"]=summary_district["% Passing Math"].map("{:.2f}%".format)
summary_district["% Passing Reading"]=summary_district["% Passing Reading"].map("{:.2f}%".format)

#print summary
summary_district

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overal Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.172326

In [11]:
#Part 2 School analysis
# Import necessary libraries
import pandas as pd
import os
 
# File paths - adjust these to match your file locations
school_data_path = "Resources/schools_complete.csv"
student_data_path = "Resources/students_complete.csv"
 
# Read CSV files
school_data = pd.read_csv(school_data_path)
student_data = pd.read_csv(student_data_path)
 
# Merge datasets
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [12]:
#school type by school name
group_school_type=school_data.set_index("school_name")["type"]

In [13]:
#total students by school
total_students_school=school_data_complete["school_name"].value_counts()

In [14]:
#total budget by school
total_budget_school=school_data.set_index("school_name")["budget"]

In [15]:
#budget per studient
student_budget=school_data.set_index("school_name")["budget"]/school_data_complete["school_name"].value_counts()

In [16]:
#average math and reading scores
avg_math_score=school_data_complete.groupby("school_name")["math_score"].mean()
avg_reading_score=school_data_complete.groupby("school_name")["reading_score"].mean()

In [17]:
#percent of students that passed math
percent_pass_math=school_data_complete[school_data_complete["math_score"]>=70].groupby("school_name")["student_name"].count()/total_students_school*100

In [18]:
#percent of students that passed reading
percent_pass_reading=school_data_complete[school_data_complete["reading_score"]>=70].groupby("school_name")["student_name"].count()/total_students_school*100

In [19]:
# Overall percent passing
overall_percent_pass= school_data_complete[(school_data_complete["math_score"]>=70) & (school_data_complete["reading_score"]>=70)].groupby("school_name")["student_name"].count()/total_students_school*100

In [20]:
#summary school
Summary_school=pd.DataFrame({
    "School Type":group_school_type, 
    "Total Students":total_students_school,
    "Total School Budget":total_budget_school,
    "Per Student Budget": student_budget,
    "Average Math Score":avg_math_score,
    "Average Reading Score":avg_reading_score,
    "% Passing Math":percent_pass_math,
    "% Passing Reading":percent_pass_reading,
    "% Overall Passing":overall_percent_pass
})

#formatting
Summary_school["Total School Budget"] = Summary_school["Total School Budget"].map("${:,.2f}".format)
Summary_school["Per Student Budget"] = Summary_school["Per Student Budget"].map("${:,.2f}".format)

#order columns
Summary_school = Summary_school[["School Type", "Total Students", "Total School Budget", "Per Student Budget", 
                                 "Average Math Score", "Average Reading Score", "% Passing Math", 
                                 "% Passing Reading", "% Overall Passing"]]
 
print("School Summary:")
print(Summary_school)
print("\n")

School Summary:
                      School Type  Total Students Total School Budget  \
school_name
Bailey High School       District            4976       $3,124,928.00
Cabrera High School       Charter            1858       $1,081,356.00
Figueroa High School     District            2949       $1,884,411.00
Ford High School         District            2739       $1,763,916.00
Griffin High School       Charter            1468         $917,500.00
Hernandez High School    District            4635       $3,022,020.00
Holden High School        Charter             427         $248,087.00
Huang High School        District            2917       $1,910,635.00
Johnson High School      District            4761       $3,094,650.00
Pena High School          Charter             962         $585,858.00
Rodriguez High School    District            3999       $2,547,363.00
Shelton High School       Charter            1761       $1,056,600.00
Thomas High School        Charter            1635       $1,043,130.00
Wilson High School        Charter            2283       $1,319,574.00
Wright High School        Charter            1800       $1,049,400.00

                      Per Student Budget  Average Math Score  \
school_name
Bailey High School               $628.00           77.048432
Cabrera High School              $582.00           83.061895
Figueroa High School             $639.00           76.711767
Ford High School                 $644.00           77.102592
Griffin High School              $625.00           83.351499
Hernandez High School            $652.00           77.289752
Holden High School               $581.00           83.803279
Huang High School                $655.00           76.629414
Johnson High School              $650.00           77.072464
Pena High School                 $609.00           83.839917
Rodriguez High School            $637.00           76.842711
Shelton High School              $600.00           83.359455
Thomas High School               $638.00           83.418349
Wilson High School               $578.00           83.274201
Wright High School               $583.00           83.682222

                       Average Reading Score  % Passing Math  \
school_name
Bailey High School                 81.033963       66.680064
Cabrera High School                83.975780       94.133477
Figueroa High School               81.158020       65.988471
Ford High School                   80.746258       68.309602
Griffin High School                83.816757       93.392371
Hernandez High School              80.934412       66.752967
Holden High School                 83.814988       92.505855
Huang High School                  81.182722       65.683922
Johnson High School                80.966394       66.057551
Pena High School                   84.044699       94.594595
Rodriguez High School              80.744686       66.366592
Shelton High School                83.725724       93.867121
Thomas High School                 83.848930       93.272171
Wilson High School                 83.989488       93.867718
Wright High School                 83.955000       93.333333

                       % Passing Reading  % Overall Passing
school_name
Bailey High School             81.933280          54.642283
Cabrera High School            97.039828          91.334769
Figueroa High School           80.739234          53.204476
Ford High School               79.299014          54.289887
Griffin High School            97.138965          90.599455
Hernandez High School          80.862999          53.527508
Holden High School             96.252927          89.227166
Huang High School              81.316421          53.513884
Johnson High School            81.222432          53.539172
Pena High School               95.945946          90.540541
Rodriguez High School          80.220055          52.988247
Shelton High School            95.854628          89.892107
Thomas High School             97.308869          90.948012
Wilson High School             96.539641          90.582567
Wright High School             96.611111          90.333333

In [22]:
# Highest-Performing Schools (by % Overall Passing)
top_schools = Summary_school.sort_values("% Overall Passing", ascending=False)
print("Top Performing Schools:")
print(top_schools.head())
print("\n")

Top Performing Schools:
                    School Type  Total Students Total School Budget  \
school_name
Cabrera High School     Charter            1858       $1,081,356.00
Thomas High School      Charter            1635       $1,043,130.00
Griffin High School     Charter            1468         $917,500.00
Wilson High School      Charter            2283       $1,319,574.00
Pena High School        Charter             962         $585,858.00

                    Per Student Budget  Average Math Score  \
school_name
Cabrera High School            $582.00           83.061895
Thomas High School             $638.00           83.418349
Griffin High School            $625.00           83.351499
Wilson High School             $578.00           83.274201
Pena High School               $609.00           83.839917

                     Average Reading Score  % Passing Math  % Passing Reading  \
school_name
Cabrera High School              83.975780       94.133477          97.039828
Thomas High School               83.848930       93.272171          97.308869
Griffin High School              83.816757       93.392371          97.138965
Wilson High School               83.989488       93.867718          96.539641
Pena High School                 84.044699       94.594595          95.945946

                     % Overall Passing
school_name
Cabrera High School          91.334769
Thomas High School           90.948012
Griffin High School          90.599455
Wilson High School           90.582567
Pena High School             90.540541

In [23]:
#Lowest-Performing Schools (by % Overall Passing)
bottom_schools = Summary_school.sort_values("% Overall Passing", ascending=True)
print("Bottom Performing Schools:")
print(bottom_schools.head())
print("\n")

Bottom Performing Schools:
                      School Type  Total Students Total School Budget  \
school_name
Rodriguez High School    District            3999       $2,547,363.00
Figueroa High School     District            2949       $1,884,411.00
Huang High School        District            2917       $1,910,635.00
Hernandez High School    District            4635       $3,022,020.00
Johnson High School      District            4761       $3,094,650.00

                      Per Student Budget  Average Math Score  \
school_name
Rodriguez High School            $637.00           76.842711
Figueroa High School             $639.00           76.711767
Huang High School                $655.00           76.629414
Hernandez High School            $652.00           77.289752
Johnson High School              $650.00           77.072464

                       Average Reading Score  % Passing Math  \
school_name
Rodriguez High School              80.744686       66.366592
Figueroa High School               81.158020       65.988471
Huang High School                  81.182722       65.683922
Hernandez High School              80.934412       66.752967
Johnson High School                80.966394       66.057551

                       % Passing Reading  % Overall Passing
school_name
Rodriguez High School          80.220055          52.988247
Figueroa High School           80.739234          53.204476
Huang High School              81.316421          53.513884
Hernandez High School          80.862999          53.527508
Johnson High School            81.222432          53.539172

In [24]:
#Math & Reading Scores by Grade
grades = ["9th", "10th", "11th", "12th"]
math_scores_by_grade = pd.DataFrame({grade: school_data_complete[school_data_complete["grade"] == grade].groupby("school_name")["math_score"].mean() for grade in grades})
reading_scores_by_grade = pd.DataFrame({grade: school_data_complete[school_data_complete["grade"] == grade].groupby("school_name")["reading_score"].mean() for grade in grades})
 
print("Math Scores by Grade:")
print(math_scores_by_grade)
print("\n")
print("Reading Scores by Grade:")
print(reading_scores_by_grade)
print("\n")

Math Scores by Grade:
                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986


Reading Scores by Grade:
                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [25]:
#Scores by School Spending 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]
Summary_school["Spending Ranges (Per Student)"] = pd.cut(Summary_school["Per Student Budget"].str.replace('$', '').astype(float), spending_bins, labels=labels)
 
spending_summary = Summary_school.groupby("Spending Ranges (Per Student)").agg({
    "Average Math Score": "mean",
    "Average Reading Score": "mean",
    "% Passing Math": "mean",
    "% Passing Reading": "mean",
    "% Overall Passing": "mean"
})
 
print("Scores by School Spending:")
print(spending_summary)
print("\n")

Scores by School Spending:
                               Average Math Score  Average Reading Score  \
Spending Ranges (Per Student)
<$585                                   83.455399              83.933814
$585-630                                81.899826              83.155286
$630-645                                78.518855              81.624473
$645-680                                76.997210              81.027843

                               % Passing Math  % Passing Reading  \
Spending Ranges (Per Student)
<$585                               93.460096          96.610877
$585-630                            87.133538          92.718205
$630-645                            73.484209          84.391793
$645-680                            66.164813          81.133951

                               % Overall Passing
Spending Ranges (Per Student)
<$585                                  90.369459
$585-630                               81.418596
$630-645                               62.857656
$645-680                               53.526855

C:\Users\balth\AppData\Local\Temp\ipykernel_26892\2970614962.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_summary = Summary_school.groupby("Spending Ranges (Per Student)").agg({

In [26]:
#Scores by School Size
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
Summary_school["School Size"] = pd.cut(Summary_school["Total Students"], size_bins, labels=labels)
 
size_summary = Summary_school.groupby("School Size").agg({
    "Average Math Score": "mean",
    "Average Reading Score": "mean",
    "% Passing Math": "mean",
    "% Passing Reading": "mean",
    "% Overall Passing": "mean"
})
 
print("Scores by School Size:")
print(size_summary)
print("\n")

Scores by School Size:
                    Average Math Score  Average Reading Score  % Passing Math  \
School Size
Small (<1000)                83.821598              83.929843       93.550225
Medium (1000-2000)           83.374684              83.864438       93.599695
Large (2000-5000)            77.746417              81.344493       69.963361

                    % Passing Reading  % Overall Passing
School Size
Small (<1000)               96.099437          89.883853
Medium (1000-2000)          96.790680          90.621535
Large (2000-5000)           82.766634          58.286003

C:\Users\balth\AppData\Local\Temp\ipykernel_26892\4211401583.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_summary = Summary_school.groupby("School Size").agg({

In [27]:
#Scores by School Type
type_summary = Summary_school.groupby("School Type").agg({
    "Average Math Score": "mean",
    "Average Reading Score": "mean",
    "% Passing Math": "mean",
    "% Passing Reading": "mean",
    "% Overall Passing": "mean"
})
 
print("Scores by School Type:")
print(type_summary)

Scores by School Type:
             Average Math Score  Average Reading Score  % Passing Math  \
School Type
Charter               83.473852              83.896421       93.620830
District              76.956733              80.966636       66.548453

             % Passing Reading  % Overall Passing
School Type
Charter              96.586489          90.432244
District             80.799062          53.672208